<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <title>Directive</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.css"/>
        <script src="js/angular.js"></script>
        <script>
            angular.module("exampleApp", [])
                    .controller("defaultCtrl", function ($scope) {
                    $scope.todos = [{action: "Get groceries", complete: false},
                    {action: "Call plumber", complete: false},
                    {action: "Buy running shoes", complete: true},
                    {action: "Buy flowers", complete: false},
                    {action: "Call family", complete: false}];
                    });
        </script>
        <style type="text/css">
            td > *:first-child{font-weight: bold}
        </style>
    </head>
    <body>
        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
            <h3 class="panel-header">To Do List (Listing 11.1)</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>                
                <tr ng-repeat="item in todos">
                    <td>{{$index + 1}}</td>
                    <td ng-repeat="prop in item">{{prop}}</td>
                </tr>
            </table>
        </div>

        <hr/>

        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
            <h3 class="panel-header">To Do List (Listing 11.2)</h3>

            <div class="checkbox well">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete"/>
                    Item 3 is complete
                </label>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>                
                <tr ng-repeat="item in todos">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td>
                        <span ng-hide="item.complete">Incomplete</span>
                        <span ng-show="item.complete">Done</span>
                    </td>
                </tr>
            </table>
        </div>

        <hr/>

        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
            <h3 class="panel-header">To Do List (Listing 11.3)</h3>

            <div class="checkbox well">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete"/>
                    Item 3 is complete
                </label>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>                
                <tr ng-repeat="item in todos">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td>
                        <span ng-if="!item.complete">Incomplete</span>
                        <span ng-if="item.complete">Done</span>
                    </td>
                </tr>
            </table>
        </div>
        
        <hr/>

        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
            <h3 class="panel-header">To Do List (Listing 11.4)</h3>

            <div class="checkbox well">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete"/>
                    Item 3 is complete
                </label>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>                
                <tr ng-repeat="item in todos" ng-hide="item.complete">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td>{{item.complete}}</td>
                </tr>
            </table>
        </div>
        
        <hr/>

        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
            <h3 class="panel-header">To Do List (Listing 11.5)</h3>

            <div class="checkbox well">
                <label>
                    <input type="checkbox" ng-model="todos[2].complete"/>
                    Item 3 is complete
                </label>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>                
                <tr ng-repeat="item in todos | filter: {complete: 'false'}">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td>{{item.complete}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
